<?xml version="1.0"?>
<launch>

<!-- Autodrive Gap algo -->
	<arg name="map" default="berlin"/>
	<node pkg="rccar" name="autogap_node" type="autogap.py" output="screen">
	<rosparam command="load" file="$(find rccar)/config/autogap_$(arg map).yaml"/>
	</node>
<!-- RVIZ plugins -->
	<node pkg="rccar" name="rviz_overlay_node" type="rviz_overlay_simu.py" output="screen">
	</node>

<!-- detection collsion -->
	<node pkg="rccar" name="collision_detection_node" type="detection_collision.py" output="screen">
	</node>
<!-- laps -->
	<node pkg="rccar" name="laps_node" type="lap_timer.py" output="screen">
	</node>
	
</launch>
