<?xml version="1.0"?>
<launch>

<!-- script pour ouvrir la page web du stream motion
<node pkg="rccar" type="pc.sh" name="pc_script" output="screen" />-->

<!-- Joysicks -->
	<node pkg="joy" name="joy_node" type="joy_node"/>

<!-- Joy to ackermann /drive -->
	<node pkg="rccar" name="joy_to_ackermann" type="joy_to_ackermann.py">
  		<rosparam command="load" file="$(find rccar)/config/joy_to_ackermann.yaml"/>
	</node>
	
<!-- RVIZ -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find rccar)/launch/rviz.rviz" output="screen"/>
	
<!-- Autodrive Gap algo -->
  <!--<node pkg="rccar" name="auto_gap" type="autogap.py">
  	<rosparam command="load" file="$(find rccar)/config/autogap.yaml"/>
  </node> -->
  
  <!-- GMAPPING SLAM -->
	<node pkg="gmapping" name="slam_gmapping" type="slam_gmapping">
		<param name="scan" value="scan" />
		<param name="odom_frame" value="vesc_odom" />
		<param name="map_update_interval" value="1.0" />

		    <param name="maxUrange" value="6.0"/> 
		    <param name="maxRange" value="8.0"/> 
		    <param name="sigma" value="0.05"/> 
		    <param name="kernelSize" value="1"/> 
		    <param name="lstep" value="0.05"/> 
		    <param name="astep" value="0.05"/> 
		    <param name="iterations" value="5"/> 
		    <param name="lsigma" value="0.075"/> 
		    <param name="ogain" value="3.0"/> 
		    <param name="lskip" value="0"/> 
		    <param name="minimumScore" value="100"/> 
		    <param name="srr" value="0.01"/> 
		    <param name="srt" value="0.02"/> 
		    <param name="str" value="0.01"/> 
		    <param name="stt" value="0.02"/> 
		    <param name="linearUpdate" value="0.5"/> 
		    <param name="angularUpdate" value="0.436"/> 
		    <param name="temporalUpdate" value="-1.0"/> 
		    <param name="resampleThreshold" value="0.5"/> 
		    <param name="particles" value="100"/> 
		  
		    <param name="xmin" value="-1.0"/> 
		    <param name="ymin" value="-1.0"/> 
		    <param name="xmax" value="1.0"/> 
		    <param name="ymax" value="1.0"/> 
		 
		    <param name="delta" value="0.05"/> 
		    <param name="llsamplerange" value="0.01"/> 
		    <param name="llsamplestep" value="0.01"/> 
		    <param name="lasamplerange" value="0.005"/> 
		    <param name="lasamplestep" value="0.005"/> 

		
	</node>

</launch>
